@font-face {
  font-family: "Septa Font Medium";
  font-style: normal;
  font-weight: 200;
  src: url("../font/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Septa Font";
  font-style: normal;
  font-weight: 300;
  src: url("../font/IRANSansWeb.ttf") format("truetype");
}
